* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: #006241;
    color: white ;
}

.header {
    background-color: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    box-shadow: 9px 18px 29px 0px rgba(0,0,0,0.75);
    z-index: 100;
}

.header__logo {
    width: 50px;
}

.header__nav, .header__contenedor-login {
    display: none;
}

.header__container-user-movile i {
    color: white;
    font-size: 40px;
}

.header__contenedor-login {
    display: none;
}

.main__logo {
    width: 30px;
}

.main__contenedor-imagen-logo {
    display: none;
}

.main {
    margin-top: 100px;
    padding: 15px 15px 10px;
}

.main__titulo {
    font-size: 50px;
    line-height: 1.2;
}

.main__titulo span {
    color: #006241;
}

.main__parrafo {
    font-weight: bolder;
    margin-top: 20px;
}

.main__contenedor-info-principal {
    display: flex;
    flex-direction: column;
}

.gallery {
    background-color: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__img {
    width: 85%;
    margin-top: 15px;
}

.contact {
    background-color: #141414;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__titulo {
    color: #006241;
    text-align: center;
    font-size: 30px;
    margin-bottom: 35px;
}

.contact__form {
    background-color: #006241;
    padding: 2px 15px 20px 15px;
    color: white;
    width: 280px;
}

.contact__input label {
    font-size: 19px;
}

.contact__input {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    margin-top: 15px;
}

.contact__input input::placeholder,
.contact__input textarea::placeholder{
    font-size: 12px;
    color: #006241;
    font-weight: bolder;
}

.contact__input input,
.contact__input textarea {
    padding: 5px;
    border-radius: 7.5px;
    border: 0;
}

.contact__input input:focus,
.contact__input textarea:focus {
    background-color: black;
    color: white;
} 

.contact__button {
    background: inherit;
    border: 2px solid white;
    color: white;
    width: 50%;
    height: 30px;
    margin-top: 20px;
    border-radius: 13px;
}

.contact__button:hover {
    background-color: #e5e55e;
    border: 2px solid  #e5e55e;
    transition: all 1s;
}

.cards__contenedor-tarjetas {
    background-color: #006241;
    margin-top: 45px;
    position: relative;
    width: 95%;
}

.cards {
    padding: 20px 23px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.cards__titulo span{
    color: #e5e55e;
}

.cards__imagen {
    width: 100%;
}

.cards__boton {
    background: inherit;
    border: 2px solid white;
    color: white;
    width: 160px;
    height: 35px;
    margin-top: 15px;
    border-radius: 7.5px;
    text-decoration: none;
}

.cards__boton:hover {
    background-color: #e5e55e;
    border: 2px solid  #e5e55e;
    transition: all 1s;
}

.cards__contenedor-texto {
    padding: 5px 15px 15px;
}

.cards__parrafo {
    font-size: 15px;
    margin: 7.5px 0;
}

.cards__circle {
    background-color: yellow;
    width: 60px;
    height: 60px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -25px;
}