* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: #006241;
    color: white ;
}

.header {
    background-color: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    box-shadow: 9px 18px 29px 0px rgba(0,0,0,0.75);
    z-index: 100;
}

.header__logo {
    width: 50px;
}

.header__nav, .header__contenedor-login {
    display: none;
}

.header__container-user-movile i {
    color: white;
    font-size: 40px;
}

.header__contenedor-login {
    display: none;
}

.main__logo {
    width: 30px;
}

.main__contenedor-imagen-logo {
    display: none;
}

.main {
    margin-top: 100px;
    padding: 15px 15px 10px;
}

.main__titulo {
    font-size: 50px;
    line-height: 1.2;
}

.main__titulo span {
    color: #006241;
}

.main__parrafo {
    font-weight: bolder;
    margin-top: 20px;
}

.main__contenedor-info-principal {
    display: flex;
    flex-direction: column;
}